// Bootstrap reset

a, a:hover, a:focus
  color: $texto
  text-decoration: none

html, body
  background-color: $blanco

h1, h2, h3, h4, h5, h6
  margin: 0 0 0 0

p
  color: $texto
  font-size: 1em
  line-height: 22px
  font-weight: 400
  margin: 0px 0px 0px 0px

ul
  margin: 0px 0px 0px 0px
  padding: 0px 0px 0px 0px
