// Comun styles

html, body
  height:100%
  background-color: $blanco
  font:
    family: 'Lato', sans-serif
    size: 14px
    weight: 400


h1
  font:
    family: 'Open Sans', sans-serif
    size: 14px
    weight: 800


// Fluid Box
.container-fluid
  padding-left: 0px
  padding-right: 0px
  .row
    margin-right: 0
    margin-left: 0
    & [class^="col-"], & [class*=" col-"]
      padding-right: 0
      padding-left: 0
