doctype html
html(lang="es").no-js
  head
    meta(charset='utf-8')
    title #{ seo.title }
    meta(name='description' content='#{ seo.description }')
    meta(name='keywords' content='#{ seo.keywords }')
    meta(name='author' content='Duegraffic')
    meta(name='copyright' content='Duegraffic')
    meta(name='application-name' content='Sillas de Lucena')
    meta(name="google-site-verification" content="qjzZWC6D5RfX69w5FQfHPXYnuLfD-peVVgTeUM6F-DU")
    
    if metaSocial
      meta( property='og:title' content='#{metaSocial.title}' )
      meta( property='og:type' content='article' )
      meta( property='og:image' content='#{metaSocial.image}.jpg' )
      meta( property='og:url' content='#{metaSocial.url}' )
      meta( property='og:description' content='#{metaSocial.description}' )
    
      meta( name='twitter:card' content='summary' )
      meta( name='twitter:title' content='#{metaSocial.title}' )
      meta( name='twitter:description' content='#{metaSocial.description}' )
      meta( name='twitter:image' content='#{metaSocial.image}.jpg' )
    
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='/css/main.css')

  body
    | <!--[if lt IE 9]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->
    
    block content
    
    include ../includes/footer
    
    script.
      (function(b,o,i,l,e,r){
        b.GoogleAnalyticsObject=l;
        b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});
        b[l].l=+new Date;
        e=o.createElement(i);
        r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)
      }(window,document,'script','ga'));
      ga('create','----------');
      ga('send','pageview');
      
    script(src='http://maps.google.com/maps/api/js?sensor=false')
    script(src='/js/main.js')
